{% extends 'base.html.twig' %}

{% block body %}
    <h1>gib eine Zahl ein!</h1>
    <br/>
    <form action="{{ path('rechner_start') }}" enctype="multipart/form-data" method="post">
        {{ form_row(form.zahl) }}
        {{ form_row(form.Minus) }}
        {{ form_row(form.Plus) }}
        {{ form_row(form.GO) }}
        {{ form_row(form.attending) }}
        {{ form_row(form._token) }}
    </form>
{% endblock %}
